.slider-parent{
    position: relative!important;
}
.slider-parent img {
    z-index: 0!important;
}
.slider{
    position: absolute!important;
    top: 50%!important;
    z-index: 2!important;
    transform: translateY(-50%)!important;
    background: rgba(255, 255, 255, .5)!important;
    border-radius: 50%!important;
}
.slider-left{
    left: 0!important;
}
.slider-right{
    right: 0!important;
}

.comments{
    max-width: 1200px!important;
}



/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
    display: block!important;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
    display: inline-block!important;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none!important;
    height: 0!important;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline!important;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
    display: none!important;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent!important; /* 1 */
    -webkit-text-decoration-skip: objects!important; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
    outline-width: 0!important;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none!important; /* 1 */
    text-decoration: underline!important; /* 2 */
    text-decoration: underline dotted!important; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
    font-weight: inherit!important;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder!important;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
    font-style: italic!important;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em!important;
    margin: 0.67em 0!important;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
    background-color: #ff0!important;
    color: #000!important;
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%!important;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%!important;
    line-height: 0!important;
    position: relative!important;
    vertical-align: baseline!important;
}

sub {
    bottom: -0.25em!important;
}

sup {
    top: -0.5em!important;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none!important;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
    overflow: hidden!important;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, monospace!important; /* 1 */
    font-size: 1em!important; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
    margin: 1em 40px!important;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box!important; /* 1 */
    height: 0!important; /* 1 */
    overflow: visible!important; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
    font: inherit!important; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
    font-weight: bold!important;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible!important;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none!important;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button!important; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none!important;
    padding: 0!important;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText!important;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
    border: 1px solid #c0c0c0!important;
    margin: 0 2px!important;
    padding: 0.35em 0.625em 0.75em!important;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box!important; /* 1 */
    color: inherit!important; /* 2 */
    display: table!important; /* 1 */
    max-width: 100%!important; /* 1 */
    padding: 0!important; /* 3 */
    white-space: normal!important; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto!important;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box!important; /* 1 */
    padding: 0!important; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto!important;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield!important; /* 1 */
    outline-offset: -2px!important; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none!important;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
    color: inherit!important;
    opacity: 0.54!important;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button!important; /* 1 */
    font: inherit!important; /* 2 */
}
.menu-root {
    width: 120px!important;
    display: flex!important;
    flex-direction: column!important;
    padding: 30px!important;
    border-right: 1px solid #a21717!important;
}
.menu-option {
    margin-top: 25px!important;
    text-decoration: none!important;
    font-size: 18px!important;
    font-family: Roboto!important;
    cursor: pointer!important;
    color: black!important;
}
.menu-option:hover {
    color: #a21717!important;
}
.menu-option-active {
    color: #a21717!important;
}
.app-root {
    width: 100%!important;
}
.header {
    height: 125px!important;
    width: 100%!important;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    font-family: Roboto!important;
    color: white!important;
    background: #a21717!important;
}
.header-label {
    color: white!important;
    text-decoration: none!important;
}
.flex-layout {
    display: flex!important;
    min-height: 600px!important;
}
.github {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    border: 0!important;
    height: 140px!important;
}
.footer {
    height: 100px!important;
    width: 100%!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    background: #a21717!important;
    color: white!important;
    font-size: 18px!important;
    font-family: Roboto!important;
    font-weight: 300!important;
}
.author-link {
    color: white!important;
    text-decoration: none!important;
    margin-left: 5px!important;
}
.header-text {
    display: flex!important;
    flex-direction: column!important;
}
.header-title {
    font-size: 50px!important;
}
.header-subtitle {
    text-align: right!important;
    font-style: italic!important;
    font-size: 18px!important;
    font-weight: 300!important;
}
.header-logo {
    width: 70px!important;
    margin-left: 50px!important;
    cursor: pointer!important;
}
.root {
    width: 100%!important;
    display: flex!important;
    font-family: Roboto!important;
    align-items: center!important;
    flex-direction: column!important;
    justify-content: center!important;
}
.label {
    font-size: 20px!important;
    font-weight: bold!important;
    margin-bottom: 20px!important;
}
.home-list {
    margin-top: 20px!important;
}
.home-listItem {
    margin-bottom: 10px!important;
}
.home-wrapper {
    margin-top: 50px !important!important;
    width: 775px !important!important;
    display: block !important!important;
    height: 400px !important!important;
}
.home-editor {
    border: 1px solid #F1F1F1 !important!important;
    padding: 5px !important!important;
    border-radius: 2px !important!important;
    height: 80% !important!important;
}
.quote-section {
    margin: 50px 0 20px!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
}
.quote {
    margin-top: 20px!important;
    display: flex!important;
    align-items: center!important;
}
.quote-text {
    font-size: 16px!important;
}
.quote-author {
    font-size: 18px!important;
    margin-left: 15px!important;
    font-style: italic!important;
    font-weight: 500!important;
}
.home-label {
    font-size: 25px!important;
    font-weight: 500!important;
    margin-top: 50px!important;
}
.feature-list {
    margin: 50px 0 50px 50px!important;
    list-style-type: decimal!important;
}
.discussion {
    margin-top: 15px!important;
}
.demo-color-wrapper {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 6px!important;
    position: relative!important;
}
.demo-icon-wrapper {
    border: 1px solid #F1F1F1!important;
    padding: 3px 5px!important;
}
.demo-icon {
    width: 20px!important;
}
.demo-color-modal {
    position: absolute!important;
    right: -70px!important;
    top: 135%!important;
    z-index: 10!important;
}/* BASICS */

.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: monospace!important;
    height: 300px!important;
    color: black!important;
    direction: ltr!important;
}

/* PADDING */

.CodeMirror-lines {
    padding: 4px 0!important; /* Vertical padding around content */
}
.CodeMirror pre {
    padding: 0 4px!important; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    background-color: white!important; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
    border-right: 1px solid #ddd!important;
    background-color: #f7f7f7!important;
    white-space: nowrap!important;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
    padding: 0 3px 0 5px!important;
    min-width: 20px!important;
    text-align: right!important;
    color: #999!important;
    white-space: nowrap!important;
}

.CodeMirror-guttermarker { color: black!important; }
.CodeMirror-guttermarker-subtle { color: #999!important; }

/* CURSOR */

.CodeMirror-cursor {
    border-left: 1px solid black!important;
    border-right: none!important;
    width: 0!important;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver!important;
}
.cm-fat-cursor .CodeMirror-cursor {
    width: auto!important;
    border: 0 !important!important;
    background: #7e7!important;
}
.cm-fat-cursor div.CodeMirror-cursors {
    z-index: 1!important;
}
.cm-fat-cursor-mark {
    background-color: rgba(20, 255, 20, 0.5)!important;
    -webkit-animation: blink 1.06s steps(1) infinite!important;
    -moz-animation: blink 1.06s steps(1) infinite!important;
    animation: blink 1.06s steps(1) infinite!important;
}
.cm-animate-fat-cursor {
    width: auto!important;
    border: 0!important;
    -webkit-animation: blink 1.06s steps(1) infinite!important;
    -moz-animation: blink 1.06s steps(1) infinite!important;
    animation: blink 1.06s steps(1) infinite!important;
    background-color: #7e7!important;
}
@-moz-keyframes blink {
    0% {}
    50% { background-color: transparent!important; }
    100% {}
}
@-webkit-keyframes blink {
    0% {}
    50% { background-color: transparent!important; }
    100% {}
}
@keyframes blink {
    0% {}
    50% { background-color: transparent!important; }
    100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block!important; text-decoration: inherit!important; }

.CodeMirror-rulers {
    position: absolute!important;
    left: 0!important; right: 0!important; top: -50px!important; bottom: -20px!important;
    overflow: hidden!important;
}
.CodeMirror-ruler {
    border-left: 1px solid #ccc!important;
    top: 0!important; bottom: 0!important;
    position: absolute!important;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue!important;}
.cm-s-default .cm-quote {color: #090!important;}
.cm-negative {color: #d44!important;}
.cm-positive {color: #292!important;}
.cm-header, .cm-strong {font-weight: bold!important;}
.cm-em {font-style: italic!important;}
.cm-link {text-decoration: underline!important;}
.cm-strikethrough {text-decoration: line-through!important;}

.cm-s-default .cm-keyword {color: #708!important;}
.cm-s-default .cm-atom {color: #219!important;}
.cm-s-default .cm-number {color: #164!important;}
.cm-s-default .cm-def {color: #00f!important;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a!important;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085!important;}
.cm-s-default .cm-comment {color: #a50!important;}
.cm-s-default .cm-string {color: #a11!important;}
.cm-s-default .cm-string-2 {color: #f50!important;}
.cm-s-default .cm-meta {color: #555!important;}
.cm-s-default .cm-qualifier {color: #555!important;}
.cm-s-default .cm-builtin {color: #30a!important;}
.cm-s-default .cm-bracket {color: #997!important;}
.cm-s-default .cm-tag {color: #170!important;}
.cm-s-default .cm-attribute {color: #00c!important;}
.cm-s-default .cm-hr {color: #999!important;}
.cm-s-default .cm-link {color: #00c!important;}

.cm-s-default .cm-error {color: #f00!important;}
.cm-invalidchar {color: #f00!important;}

.CodeMirror-composing { border-bottom: 2px solid!important; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0!important;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22!important;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3)!important; }
.CodeMirror-activeline-background {background: #e8f2ff!important;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
    position: relative!important;
    overflow: hidden!important;
    background: white!important;
}

.CodeMirror-scroll {
    overflow: scroll !important!important; /* Things will break if this is overridden */
    /* 30px is the magic margin used to hide the element's real scrollbars */
    /* See overflow: hidden in .CodeMirror */
    margin-bottom: -30px!important; margin-right: -30px!important;
    padding-bottom: 30px!important;
    height: 100%!important;
    outline: none!important; /* Prevent dragging from highlighting the element */
    position: relative!important;
}
.CodeMirror-sizer {
    position: relative!important;
    border-right: 30px solid transparent!important;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    position: absolute!important;
    z-index: 6!important;
    display: none!important;
}
.CodeMirror-vscrollbar {
    right: 0!important; top: 0!important;
    overflow-x: hidden!important;
    overflow-y: scroll!important;
}
.CodeMirror-hscrollbar {
    bottom: 0!important; left: 0!important;
    overflow-y: hidden!important;
    overflow-x: scroll!important;
}
.CodeMirror-scrollbar-filler {
    right: 0!important; bottom: 0!important;
}
.CodeMirror-gutter-filler {
    left: 0!important; bottom: 0!important;
}

.CodeMirror-gutters {
    position: absolute!important; left: 0!important; top: 0!important;
    min-height: 100%!important;
    z-index: 3!important;
}
.CodeMirror-gutter {
    white-space: normal!important;
    height: 100%!important;
    display: inline-block!important;
    vertical-align: top!important;
    margin-bottom: -30px!important;
}
.CodeMirror-gutter-wrapper {
    position: absolute!important;
    z-index: 4!important;
    background: none !important!important;
    border: none !important!important;
}
.CodeMirror-gutter-background {
    position: absolute!important;
    top: 0!important; bottom: 0!important;
    z-index: 4!important;
}
.CodeMirror-gutter-elt {
    position: absolute!important;
    cursor: default!important;
    z-index: 4!important;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
    cursor: text!important;
    min-height: 1px!important; /* prevents collapsing before first draw */
}
.CodeMirror pre {
    /* Reset some styles that the rest of the page might have set */
    -moz-border-radius: 0!important; -webkit-border-radius: 0!important; border-radius: 0!important;
    border-width: 0!important;
    background: transparent!important;
    font-family: inherit!important;
    font-size: inherit!important;
    margin: 0!important;
    white-space: pre!important;
    word-wrap: normal!important;
    line-height: inherit!important;
    color: inherit!important;
    z-index: 2!important;
    position: relative!important;
    overflow: visible!important;
    -webkit-tap-highlight-color: transparent!important;
    -webkit-font-variant-ligatures: contextual!important;
    font-variant-ligatures: contextual!important;
}
.CodeMirror-wrap pre {
    word-wrap: break-word!important;
    white-space: pre-wrap!important;
    word-break: normal!important;
}

.CodeMirror-linebackground {
    position: absolute!important;
    left: 0!important; right: 0!important; top: 0!important; bottom: 0!important;
    z-index: 0!important;
}

.CodeMirror-linewidget {
    position: relative!important;
    z-index: 2!important;
    padding: 0.1px!important; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl!important; }

.CodeMirror-code {
    outline: none!important;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
}

.CodeMirror-measure {
    position: absolute!important;
    width: 100%!important;
    height: 0!important;
    overflow: hidden!important;
    visibility: hidden!important;
}

.CodeMirror-cursor {
    position: absolute!important;
    pointer-events: none!important;
}
.CodeMirror-measure pre { position: static!important; }

div.CodeMirror-cursors {
    visibility: hidden!important;
    position: relative!important;
    z-index: 3!important;
}
div.CodeMirror-dragcursors {
    visibility: visible!important;
}

.CodeMirror-focused div.CodeMirror-cursors {
    visibility: visible!important;
}

.CodeMirror-selected { background: #d9d9d9!important; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0!important; }
.CodeMirror-crosshair { cursor: crosshair!important; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0!important; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0!important; }

.cm-searching {
    background-color: #ffa!important;
    background-color: rgba(255, 255, 0, .4)!important;
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px!important; }

@media print {
    /* Hide the cursor when printing */
    .CodeMirror div.CodeMirror-cursors {
        visibility: hidden!important;
    }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''!important; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none!important; }
.demo-root {
    width: 90%!important;
    display: flex!important;
    font-family: Roboto!important;
    align-items: center!important;
    flex-direction: column!important;
    justify-content: center!important;
}
.demo-label {
    display: block!important;
    font-size: 20px!important;
    font-weight: 500!important;
    margin: 50px 0 25px!important;
}
.demo-label-high {
    display: block!important;
    font-size: 20px!important;
    font-weight: 500!important;
    margin: 50px 0 90px!important;
}
.demo-subLabel {
    margin-bottom: 20px!important;
}
.demo-editorSection {
    display: flex!important;
    justify-content: space-between!important;
}
.demo-wrapper {
    width: 100% !important!important;
    display: block !important!important;
    margin-bottom: 25px !important!important;
    height: 400px !important!important;
}
.demo-wrapper-medium {
    width: 650px !important!important;
    display: block !important!important;
    margin-bottom: 50px !important!important;
    height: 300px !important!important;
}
.demo-editor {
    height: 275px !important!important;
    border: 1px solid #F1F1F1 !important!important;
    padding: 5px !important!important;
    border-radius: 2px !important!important;
}
.demo-editorWrapper {
}
.demo-content {
    border: 1px solid #F1F1F1!important;
    padding: 5px!important;
    border-radius: 5px!important;
    width: 100%!important;
    border-radius: 2px!important;
    resize: none!important;
    height: 200px!important;
}
.demo-toolbar-absolute {
    position: absolute !important!important;
    top: -40px !important!important;
    width: 550px !important!important;
    border-radius: 3px !important!important;
    background: #f3f3f3 !important!important;
    border: 1px solid #e3e3e3 !important!important;
}
.demo-toolbar-absolute-high {
    position: absolute !important!important;
    top: -80px !important!important;
    width: 550px !important!important;
    border-radius: 3px !important!important;
    background: #f3f3f3 !important!important;
    border: 1px solid #e3e3e3 !important!important;
}
.demo-editor-plain {
    height: 80% !important!important;
    border-width: 0px !important!important;
}
.demo-editor-embedded {
    height: 90% !important!important;
    border-width: 0px !important!important;
}
.demo-wrapper-relative {
    display: block !important!important;
    position: relative !important!important;
    margin-bottom: 25px !important!important;
    height: 200px !important!important;
}
.demo-wrapper-relative-long {
    width: 715px !important!important;
    display: block !important!important;
    position: relative !important!important;
    margin-bottom: 25px !important;
    height: 450px !important;
}
.bordered-option-classname {
    border: 1px solid #e3e3e3 !important;
}
.demo-toolbar-absolute > div:not(:last-of-type) {
    border-right: 2px solid #e3e3e3!important;
    padding-right: 5px!important;
}
.demo-toolbar-absolute > div:not(:first-of-type) {
    padding-left: 5px!important;
}
.demo-toolbar-custom {
    border-color: rgb(0,47,126) !important;
    background-color: #9EBEF5 !important;
}
.demo-editor-custom {
    height: 200px !important;
    border: 1px solid #F1F1F1 !important;
    padding: 5px !important;
    height: 75% !important;
    border-radius: 2px !important;
    border-color: rgb(0,47,126) !important;
}
.demo-option-custom {
    width: 15px !important;
    height: 15px !important;
    border-color: rgb(0,47,126) !important;
    color: rgb(0,47,126)!important;
}
.demo-option-custom-wide {
    width: 125px !important;
    height: 25px !important;
    border-color: rgb(0,47,126) !important;
    color: rgb(0,47,126) !important;
}
.demo-option-custom-medium {
    height: 25px !important;
    border-color: rgb(0,47,126) !important;
    color: rgb(0,47,126) !important;
}
.demo-dropdown-custom {
    border-color: rgb(0,47,126) !important;
}
.demo-popup-custom {
    border-color: rgb(0,47,126) !important;
    padding: 5px !important;
}
.demo-popup-custom input {
    border-color: rgb(0,47,126) !important;
}
.demo-popup-custom button {
    border-color: rgb(0,47,126) !important;
}
.demo-section-wrapper {
    display: flex!important;
}
.demo-editor-wrapper {
    width: 60%!important;
}
.demo-section {
    margin: 50px 30px 20px!important;
    width: 95%!important;
}
.ReactCodeMirror {
    width: 38%!important;
    margin-left: 2%!important;
    border: 1px solid #e4e4e4!important;
    height: 400px!important;
}
.CodeMirror {
    height: 400px !important!important;
}
.demo-custom-option {
    width: 26px!important;
    height: 26px!important;
    border: 1px solid #f1f1f1!important;
    text-align: center!important;
    padding-right: 5px!important;
    padding-bottom: 2px!important;
    cursor: pointer!important;
}
.docs-root {
    width: calc(100% - 150px)!important;
    margin: 30px!important;
}
.docs-label {
    display: block!important;
    font-size: 20px!important;
    font-weight: 500!important;
    margin: 20px 0!important;
}
.docs-sub-label {
    display: block!important;
    font-size: 18px!important;
    font-weight: 500!important;
    margin: 10px 0!important;
}
.docs-section {
    margin: 20px 0 50px!important;
}
.docs-section .ReactCodeMirror {
    max-height: 500px!important;
    overflow: scroll!important;
    width: 75%!important;
    margin-top: 25px!important;
    margin-left: 0!important;
    height: auto !important!important;
}
.docs-section .CodeMirror {
    height: auto !important!important;
}
code {
    padding: 20px!important;
    font-size: 13px!important;
    display: inline-flex!important;
    flex-direction: column!important;
    background-color: #f1f1f1!important;
}
.code_sm {
    padding: 2px!important;
}
.docs-desc {
    width: 75%!important;
    font-size: 15px!important;
    margin-bottom: 10px!important;
}
.docs-root li {
    margin-bottom: 5px!important;
}
.docs-text {
    width: 75%!important;
    font-size: 17px!important;
    margin: 15px 0!important;
}
.top-margined {
    margin-top: 20px!important;
}
ol {
    font-size: 15px!important;
}
.docs-property {
    display: flex!important;
}.author-root {
     margin: 30px!important;
     width: 50%!important;
 }
.photo {
    height: 150px!important;
    width: auto!important;
}
.rdw-option-wrapper {
    border: 1px solid #F1F1F1!important;
    padding: 5px!important!important;
    min-width: 25px!important!important;
    height: 20px!important!important;
    border-radius: 2px!important;
    margin: 0 4px!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    cursor: pointer!important;
    background: white!important;
    text-transform: capitalize!important;
}
.rdw-option-wrapper:hover {
    box-shadow: 1px 1px 0px #BFBDBD!important;
}
.rdw-option-wrapper:active {
    box-shadow: 1px 1px 0px #BFBDBD inset!important;
}
.rdw-option-active {
    box-shadow: 1px 1px 0px #BFBDBD inset!important;
}
.rdw-option-disabled {
    opacity: 0.3!important;
    cursor: default!important;
}
.rdw-dropdown-wrapper {
    height: 30px!important;
    background: white!important;
    cursor: pointer!important;
    border: 1px solid #F1F1F1!important;
    border-radius: 2px!important;
    margin: 0 3px!important;
    text-transform: capitalize!important;
    background: white!important;
}
.rdw-dropdown-wrapper:focus {
    outline: none!important;
}
.rdw-dropdown-wrapper:hover {
    box-shadow: 1px 1px 0px #BFBDBD!important;
    background-color: #FFFFFF!important;
}
.rdw-dropdown-wrapper:active {
    box-shadow: 1px 1px 0px #BFBDBD inset!important;
}
.rdw-dropdown-carettoopen {
    height: 0px!important;
    width: 0px!important;
    position: absolute!important;
    top: 35%!important;
    right: 10%!important;
    border-top: 6px solid black!important;
    border-left: 5px solid transparent!important;
    border-right: 5px solid transparent!important;
}
.rdw-dropdown-carettoclose {
    height: 0px!important;
    width: 0px!important;
    position: absolute!important;
    top: 35%!important;
    right: 10%!important;
    border-bottom: 6px solid black!important;
    border-left: 5px solid transparent!important;
    border-right: 5px solid transparent!important;
}
.rdw-dropdown-selectedtext {
    display: flex!important;
    position: relative!important;
    height: 100%!important;
    align-items: center!important;
    padding: 0 5px!important;
}
.rdw-dropdown-optionwrapper {
    z-index: 100!important;
    position: relative!important;
    border: 1px solid #F1F1F1!important;
    width: 98%!important;
    background: white!important;
    border-radius: 2px!important;
    margin: 0!important;
    padding: 0!important;
    max-height: 250px!important;
    overflow-y: scroll!important;
}
.rdw-dropdown-optionwrapper:hover {
    box-shadow: 1px 1px 0px #BFBDBD!important;
    background-color: #FFFFFF!important;
}
.rdw-dropdownoption-default {
    min-height: 25px!important;
    display: flex!important;
    align-items: center!important;
    padding: 0 5px!important;
}
.rdw-dropdownoption-highlighted {
    background: #F1F1F1!important;
}
.rdw-dropdownoption-active {
    background: #f5f5f5!important;
}
.rdw-dropdownoption-disabled {
    opacity: 0.3!important;
    cursor: default!important;
}
.rdw-inline-wrapper {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 6px!important;
    flex-wrap: wrap
}
.rdw-inline-dropdown {
    width: 50px!important;
}
.rdw-inline-dropdownoption {
    height: 40px!important;
    display: flex!important;
    justify-content: center!important;
}
.rdw-block-wrapper {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 6px!important;
    flex-wrap: wrap
}
.rdw-block-dropdown {
    width: 110px!important;
}
.rdw-fontsize-wrapper {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 6px!important;
    flex-wrap: wrap
}
.rdw-fontsize-dropdown {
    min-width: 40px!important;
}
.rdw-fontsize-option {
    display: flex!important;
    justify-content: center!important;
}
.rdw-fontfamily-wrapper {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 6px!important;
    flex-wrap: wrap
}
.rdw-fontfamily-dropdown {
    width: 115px!important;
}
.rdw-fontfamily-placeholder {
    white-space: nowrap!important;
    max-width: 90px!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
}
.rdw-fontfamily-optionwrapper {
    width: 140px!important;
}
.rdw-list-wrapper {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 6px!important;
    flex-wrap: wrap
}
.rdw-list-dropdown {
    width: 50px!important;
    z-index: 90!important;
}
.rdw-list-dropdownOption {
    height: 40px!important;
    display: flex!important;
    justify-content: center!important;
}
.rdw-text-align-wrapper {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 6px!important;
    flex-wrap: wrap
}
.rdw-text-align-dropdown {
    width: 50px!important;
    z-index: 90!important;
}
.rdw-text-align-dropdownOption {
    height: 40px!important;
    display: flex!important;
    justify-content: center!important;
}
.rdw-right-aligned-block {
    text-align: right!important;
}
.rdw-left-aligned-block {
    text-align: left !important!important;
}
.rdw-center-aligned-block {
    text-align: center !important!important;
}
.rdw-justify-aligned-block {
    text-align: justify !important!important;
}
.rdw-right-aligned-block > div {
    display: inline-block!important;
}
.rdw-left-aligned-block > div {
    display: inline-block!important;
}
.rdw-center-aligned-block > div {
    display: inline-block!important;
}
.rdw-justify-aligned-block > div {
    display: inline-block!important;
}
.rdw-colorpicker-wrapper {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 6px!important;
    position: relative!important;
    flex-wrap: wrap
}
.rdw-colorpicker-modal {
    position: absolute!important;
    top: 35px!important;
    left: 5px!important;
    display: flex!important;
    flex-direction: column!important;
    width: 175px!important;
    height: 175px!important;
    border: 1px solid #F1F1F1!important;
    padding: 15px!important;
    border-radius: 2px!important;
    z-index: 100!important;
    background: white!important;
    box-shadow: 3px 3px 5px #BFBDBD!important;
}
.rdw-colorpicker-modal-header {
    display: flex!important;
    padding-bottom: 5px!important;
}
.rdw-colorpicker-modal-style-label {
    font-size: 15px!important;
    width: 50%!important;
    text-align: center!important;
    cursor: pointer!important;
    padding: 0 10px 5px!important;
}
.rdw-colorpicker-modal-style-label-active {
    border-bottom: 2px solid #0a66b7!important;
}
.rdw-colorpicker-modal-options {
    margin: 5px auto!important;
    display: flex!important;
    width: 100%!important;
    height: 100%!important;
    flex-wrap: wrap!important;
    overflow: scroll!important;
}
.rdw-colorpicker-cube {
    width: 22px!important;
    height: 22px!important;
    border: 1px solid #F1F1F1!important;
}
.rdw-colorpicker-option {
    margin: 3px!important;
    padding: 0!important;
    min-height: 20px!important;
    border: none!important;
    width: 22px!important;
    height: 22px!important;
    min-width: 22px!important;
    box-shadow: 1px 2px 1px #BFBDBD inset!important;
}
.rdw-colorpicker-option:hover {
    box-shadow: 1px 2px 1px #BFBDBD!important;
}
.rdw-colorpicker-option:active {
    box-shadow: -1px -2px 1px #BFBDBD!important;
}
.rdw-colorpicker-option-active {
    box-shadow: 0px 0px 2px 2px #BFBDBD!important;
}
.rdw-link-wrapper {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 6px!important;
    position: relative!important;
    flex-wrap: wrap
}
.rdw-link-dropdown {
    width: 50px!important;
}
.rdw-link-dropdownOption {
    height: 40px!important;
    display: flex!important;
    justify-content: center!important;
}
.rdw-link-dropdownPlaceholder {
    margin-left: 8px!important;
}
.rdw-link-modal {
    position: absolute!important;
    top: 35px!important;
    left: 5px!important;
    display: flex!important;
    flex-direction: column!important;
    width: 235px!important;
    height: 205px!important;
    border: 1px solid #F1F1F1!important;
    padding: 15px!important;
    border-radius: 2px!important;
    z-index: 100!important;
    background: white!important;
    box-shadow: 3px 3px 5px #BFBDBD!important;
}
.rdw-link-modal-label {
    font-size: 15px!important;
}
.rdw-link-modal-input {
    margin-top: 5px!important;
    border-radius: 2px!important;
    border: 1px solid #F1F1F1!important;
    height: 25px!important;
    margin-bottom: 15px!important;
    padding: 0 5px!important;
}
.rdw-link-modal-input:focus {
    outline: none!important;
}
.rdw-link-modal-buttonsection {
    margin: 0 auto!important;
}
.rdw-link-modal-target-option {
    margin-bottom: 20px!important;
}
.rdw-link-modal-target-option > span {
    margin-left: 5px!important;
}
.rdw-link-modal-btn {
    margin-left: 10px!important;
    width: 75px!important;
    height: 30px!important;
    border: 1px solid #F1F1F1!important;
    border-radius: 2px!important;
    cursor: pointer!important;
    background: white!important;
    text-transform: capitalize!important;
}
.rdw-link-modal-btn:hover {
    box-shadow: 1px 1px 0px #BFBDBD!important;
}
.rdw-link-modal-btn:active {
    box-shadow: 1px 1px 0px #BFBDBD inset!important;
}
.rdw-link-modal-btn:focus {
    outline: none !important!important;
}
.rdw-link-modal-btn:disabled {
    background: #ece9e9!important;
}
.rdw-link-dropdownoption {
    height: 40px!important;
    display: flex!important;
    justify-content: center!important;
}
.rdw-history-dropdown {
    width: 50px!important;
}
.rdw-embedded-wrapper {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 6px!important;
    position: relative!important;
    flex-wrap: wrap
}
.rdw-embedded-modal {
    position: absolute!important;
    top: 35px!important;
    left: 5px!important;
    display: flex!important;
    flex-direction: column!important;
    width: 235px!important;
    height: 180px!important;
    border: 1px solid #F1F1F1!important;
    padding: 15px!important;
    border-radius: 2px!important;
    z-index: 100!important;
    background: white!important;
    justify-content: space-between!important;
    box-shadow: 3px 3px 5px #BFBDBD!important;
}
.rdw-embedded-modal-header {
    font-size: 15px!important;
    display: flex!important;
}
.rdw-embedded-modal-header-option {
    width: 50%!important;
    cursor: pointer!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column!important;
}
.rdw-embedded-modal-header-label {
    width: 95px!important;
    border: 1px solid #f1f1f1!important;
    margin-top: 5px!important;
    background: #6EB8D4!important;
    border-bottom: 2px solid #0a66b7!important;
}
.rdw-embedded-modal-link-section {
    display: flex!important;
    flex-direction: column!important;
}
.rdw-embedded-modal-link-input {
    width: 88%!important;
    height: 35px!important;
    margin: 10px 0!important;
    border: 1px solid #F1F1F1!important;
    border-radius: 2px!important;
    font-size: 15px!important;
    padding: 0 5px!important;
}
.rdw-embedded-modal-link-input-wrapper {
    display: flex!important;
    align-items: center!important;
}
.rdw-embedded-modal-link-input:focus {
    outline: none!important;
}
.rdw-embedded-modal-btn-section {
    display: flex!important;
    justify-content: center!important;
}
.rdw-embedded-modal-btn {
    margin: 0 3px!important;
    width: 75px!important;
    height: 30px!important;
    border: 1px solid #F1F1F1!important;
    border-radius: 2px!important;
    cursor: pointer!important;
    background: white!important;
    text-transform: capitalize!important;
}
.rdw-embedded-modal-btn:hover {
    box-shadow: 1px 1px 0px #BFBDBD!important;
}
.rdw-embedded-modal-btn:active {
    box-shadow: 1px 1px 0px #BFBDBD inset!important;
}
.rdw-embedded-modal-btn:focus {
    outline: none !important!important;
}
.rdw-embedded-modal-btn:disabled {
    background: #ece9e9!important;
}
.rdw-embedded-modal-size {
    align-items: center!important;
    display: flex!important;
    margin: 8px 0!important;
    justify-content: space-between!important;
}
.rdw-embedded-modal-size-input {
    width: 80%!important;
    height: 20px!important;
    border: 1px solid #F1F1F1!important;
    border-radius: 2px!important;
    font-size: 12px!important;
}
.rdw-embedded-modal-size-input:focus {
    outline: none!important;
}
.rdw-emoji-wrapper {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 6px!important;
    position: relative!important;
    flex-wrap: wrap
}
.rdw-emoji-modal {
    overflow: auto!important;
    position: absolute!important;
    top: 35px!important;
    left: 5px!important;
    display: flex!important;
    flex-wrap: wrap!important;
    width: 235px!important;
    height: 180px!important;
    border: 1px solid #F1F1F1!important;
    padding: 15px!important;
    border-radius: 2px!important;
    z-index: 100!important;
    background: white!important;
    box-shadow: 3px 3px 5px #BFBDBD!important;
}
.rdw-emoji-icon {
    margin: 2.5px!important;
    height: 24px!important;
    width: 24px!important;
    cursor: pointer!important;
    font-size: 22px!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}
.rdw-spinner {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    height: 100%!important;
    width: 100%!important;
}
.rdw-spinner > div {
    width: 12px!important;
    height: 12px!important;
    background-color: #333!important;

    border-radius: 100%!important;
    display: inline-block!important;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both!important;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both!important;
}
.rdw-spinner .rdw-bounce1 {
    -webkit-animation-delay: -0.32s!important;
    animation-delay: -0.32s!important;
}
.rdw-spinner .rdw-bounce2 {
    -webkit-animation-delay: -0.16s!important;
    animation-delay: -0.16s!important;
}
@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)!important;
        transform: scale(0)!important;
    } 40% {
          -webkit-transform: scale(1.0)!important;
          transform: scale(1.0)!important;
      }
}
.rdw-image-wrapper {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 6px!important;
    position: relative!important;
    flex-wrap: wrap
}
.rdw-image-modal {
    position: absolute!important;
    top: 35px!important;
    left: 5px!important;
    display: flex!important;
    flex-direction: column!important;
    width: 235px!important;
    border: 1px solid #F1F1F1!important;
    padding: 15px!important;
    border-radius: 2px!important;
    z-index: 100!important;
    background: white!important;
    box-shadow: 3px 3px 5px #BFBDBD!important;
}
.rdw-image-modal-header {
    font-size: 15px!important;
    margin: 10px 0!important;
    display: flex!important;
}
.rdw-image-modal-header-option {
    width: 50%!important;
    cursor: pointer!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column!important;
}
.rdw-image-modal-header-label {
    width: 80px!important;
    background: #f1f1f1!important;
    border: 1px solid #f1f1f1!important;
    margin-top: 5px!important;
}
.rdw-image-modal-header-label-highlighted {
    background: #6EB8D4!important;
    border-bottom: 2px solid #0a66b7!important;
}
.rdw-image-modal-upload-option {
    width: 100%!important;
    color: gray!important;
    cursor: pointer!important;
    display: flex!important;
    border: none!important;
    font-size: 15px!important;
    align-items: center!important;
    justify-content: center!important;
    background-color: #f1f1f1!important;
    outline: 2px dashed gray!important;
    outline-offset: -10px!important;
    margin: 10px 0!important;
    padding: 9px 0!important;
}
.rdw-image-modal-upload-option-highlighted {
    outline: 2px dashed #0a66b7!important;
}
.rdw-image-modal-upload-option-label {
    cursor: pointer!important;
    height: 100%!important;
    width: 100%!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    padding: 15px!important;
}
.rdw-image-modal-upload-option-label span{
    padding: 0 20px!important;
}
.rdw-image-modal-upload-option-image-preview {
    max-width: 100%!important;
    max-height: 200px!important;
}
.rdw-image-modal-upload-option-input {
    width: 0.1px!important;
    height: 0.1px!important;
    opacity: 0!important;
    overflow: hidden!important;
    position: absolute!important;
    z-index: -1!important;
}
.rdw-image-modal-url-section {
    display: flex!important;
    align-items: center!important;
}
.rdw-image-modal-url-input {
    width: 90%!important;
    height: 35px!important;
    margin: 15px 0 12px!important;
    border: 1px solid #F1F1F1!important;
    border-radius: 2px!important;
    font-size: 15px!important;
    padding: 0 5px!important;
}
.rdw-image-modal-btn-section {
    margin: 10px auto 0!important;
}
.rdw-image-modal-url-input:focus {
    outline: none!important;
}
.rdw-image-modal-btn {
    margin: 0 5px!important;
    width: 75px!important;
    height: 30px!important;
    border: 1px solid #F1F1F1!important;
    border-radius: 2px!important;
    cursor: pointer!important;
    background: white!important;
    text-transform: capitalize!important;
}
.rdw-image-modal-btn:hover {
    box-shadow: 1px 1px 0px #BFBDBD!important;
}
.rdw-image-modal-btn:active {
    box-shadow: 1px 1px 0px #BFBDBD inset!important;
}
.rdw-image-modal-btn:focus {
    outline: none !important!important;
}
.rdw-image-modal-btn:disabled {
    background: #ece9e9!important;
}
.rdw-image-modal-spinner {
    position: absolute!important;
    top: -3px!important;
    left: 0!important;
    width: 100%!important;
    height: 100%!important;
    opacity: 0.5!important;
}
.rdw-image-modal-alt-input {
    width: 70%!important;
    height: 20px!important;
    border: 1px solid #F1F1F1!important;
    border-radius: 2px!important;
    font-size: 12px!important;
    margin-left: 5px!important;
}
.rdw-image-modal-alt-input:focus {
    outline: none!important;
}
.rdw-image-modal-alt-lbl {
    font-size: 12px!important;
}
.rdw-image-modal-size {
    align-items: center!important;
    display: flex!important;
    margin: 8px 0!important;
    justify-content: space-between!important;
}
.rdw-image-modal-size-input {
    width: 40%!important;
    height: 20px!important;
    border: 1px solid #F1F1F1!important;
    border-radius: 2px!important;
    font-size: 12px!important;
}
.rdw-image-modal-size-input:focus {
    outline: none!important;
}
.rdw-image-mandatory-sign {
    color: red!important;
    margin-left: 3px!important;
    margin-right: 3px!important;
}
.rdw-remove-wrapper {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 6px!important;
    position: relative!important;
    flex-wrap: wrap
}
.rdw-history-wrapper {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 6px!important;
    flex-wrap: wrap
}
.rdw-history-dropdownoption {
    height: 40px!important;
    display: flex!important;
    justify-content: center!important;
}
.rdw-history-dropdown {
    width: 50px!important;
}
.rdw-link-decorator-wrapper {
    position: relative!important;
}
.rdw-link-decorator-icon {
    position: absolute!important;
    left: 40%!important;
    top: 0!important;
    cursor: pointer!important;
    background-color: white!important;
}
.rdw-mention-link {
    text-decoration: none!important;
    color: #1236ff!important;
    background-color: #f0fbff!important;
    padding: 1px 2px!important;
    border-radius: 2px!important;
}
.rdw-suggestion-wrapper {
    position: relative!important;
}
.rdw-suggestion-dropdown {
    position: absolute!important;
    display: flex!important;
    flex-direction: column!important;
    border: 1px solid #F1F1F1!important;
    min-width: 100px!important;
    max-height: 150px!important;
    overflow: auto!important;
    background: white!important;
    z-index: 100!important;
}
.rdw-suggestion-option {
    padding: 7px 5px!important;
    border-bottom: 1px solid #f1f1f1!important;
}
.rdw-suggestion-option-active {
    background-color: #F1F1F1!important;
}
.rdw-hashtag-link {
    text-decoration: none!important;
    color: #1236ff!important;
    background-color: #f0fbff!important;
    padding: 1px 2px!important;
    border-radius: 2px!important;
}
.rdw-image-alignment-options-popup {
    position: absolute!important;
    background: white!important;
    display: flex!important;
    padding: 5px 2px!important;
    border-radius: 2px!important;
    border: 1px solid #F1F1F1!important;
    width: 105px!important;
    cursor: pointer!important;
    z-index: 100!important;
}
.rdw-alignment-option-left {
    justify-content: flex-start!important;
}
.rdw-image-alignment-option {
    height: 15px!important;
    width: 15px!important;
    min-width: 15px!important;
}
.rdw-image-alignment {
    position: relative!important;
}
.rdw-image-imagewrapper {
    position: relative!important;
}
.rdw-image-center {
    display: flex!important;
    justify-content: center!important;
}
.rdw-image-left {
    display: flex!important;
}
.rdw-image-right {
    display: flex!important;
    justify-content: flex-end!important;
}
.rdw-image-alignment-options-popup-right {
    right: 0!important;
}
.rdw-editor-main {
    height: 100%!important;
    overflow: auto!important;
    box-sizing: border-box!important;
}
.rdw-editor-toolbar {
    padding: 6px 5px 0!important;
    border-radius: 2px!important;

    border-bottom: 1px solid black;
    display: flex!important;
    justify-content: flex-start!important;
    background: white!important;
    flex-wrap: wrap!important;
    font-size: 15px!important;
    margin-bottom: 5px!important;
    user-select: none!important;
}
.public-DraftStyleDefault-block {
    margin: 1em 0!important;
}
.rdw-editor-wrapper:focus {
    outline: none!important;
}
.rdw-editor-wrapper {
    box-sizing: content-box!important;
}
.rdw-editor-main blockquote {
    border-left: 5px solid #f1f1f1!important;
    padding-left: 5px!important;
}
.rdw-editor-main pre {
    background: #f1f1f1!important;
    border-radius: 3px!important;
    padding: 1px 10px!important;
}/**
 * Draft v0.9.1
 *
 * Copyright (c) 2013-present, Facebook, Inc.
 * All rights reserved.
 *
 * This source code is licensed under the BSD-style license found in the
 * LICENSE file in the root directory of this source tree. An additional grant
 * of patent rights can be found in the PATENTS file in the same directory.
 */
.DraftEditor-editorContainer,.DraftEditor-root,.public-DraftEditor-content{height:inherit!important;text-align:initial}.public-DraftEditor-content[contenteditable=true]{-webkit-user-modify:read-write-plaintext-only}.DraftEditor-root{position:relative}.DraftEditor-editorContainer{background-color:rgba(255,255,255,0)!important;border-left:.1px solid transparent!important;position:relative!important;z-index:1}.public-DraftEditor-block{position:relative}.DraftEditor-alignLeft .public-DraftStyleDefault-block{text-align:left}.DraftEditor-alignLeft .public-DraftEditorPlaceholder-root{left:0!important;text-align:left}.DraftEditor-alignCenter .public-DraftStyleDefault-block{text-align:center}.DraftEditor-alignCenter .public-DraftEditorPlaceholder-root{margin:0 auto!important;text-align:center!important;width:100%}.DraftEditor-alignRight .public-DraftStyleDefault-block{text-align:right}.DraftEditor-alignRight .public-DraftEditorPlaceholder-root{right:0!important;text-align:right}.public-DraftEditorPlaceholder-root{color:#9197a3!important;position:absolute!important;z-index:0}.public-DraftEditorPlaceholder-hasFocus{color:#bdc1c9}.DraftEditorPlaceholder-hidden{display:none}.public-DraftStyleDefault-block{position:relative!important;white-space:pre-wrap}.public-DraftStyleDefault-ltr{direction:ltr!important;text-align:left}.public-DraftStyleDefault-rtl{direction:rtl!important;text-align:right}.public-DraftStyleDefault-listLTR{direction:ltr}.public-DraftStyleDefault-listRTL{direction:rtl}.public-DraftStyleDefault-ol,.public-DraftStyleDefault-ul{margin:16px 0!important;padding:0}.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR{margin-left:1.5em}.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listRTL{margin-right:1.5em}.public-DraftStyleDefault-depth1.public-DraftStyleDefault-listLTR{margin-left:3em}.public-DraftStyleDefault-depth1.public-DraftStyleDefault-listRTL{margin-right:3em}.public-DraftStyleDefault-depth2.public-DraftStyleDefault-listLTR{margin-left:4.5em}.public-DraftStyleDefault-depth2.public-DraftStyleDefault-listRTL{margin-right:4.5em}.public-DraftStyleDefault-depth3.public-DraftStyleDefault-listLTR{margin-left:6em}.public-DraftStyleDefault-depth3.public-DraftStyleDefault-listRTL{margin-right:6em}.public-DraftStyleDefault-depth4.public-DraftStyleDefault-listLTR{margin-left:7.5em}.public-DraftStyleDefault-depth4.public-DraftStyleDefault-listRTL{margin-right:7.5em}.public-DraftStyleDefault-unorderedListItem{list-style-type:square!important;position:relative}.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth0{list-style-type:disc}.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth1{list-style-type:circle}.public-DraftStyleDefault-orderedListItem{list-style-type:none!important;position:relative}.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR:before{left:-36px!important;position:absolute!important;text-align:right!important;width:30px}.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listRTL:before{position:absolute!important;right:-36px!important;text-align:left!important;width:30px}.public-DraftStyleDefault-orderedListItem:before{content:counter(ol0) ". "!important;counter-increment:ol0}.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth1:before{content:counter(ol1) ". "!important;counter-increment:ol1}.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth2:before{content:counter(ol2) ". "!important;counter-increment:ol2}.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth3:before{content:counter(ol3) ". "!important;counter-increment:ol3}.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth4:before{content:counter(ol4) ". "!important;counter-increment:ol4}.public-DraftStyleDefault-depth0.public-DraftStyleDefault-reset{counter-reset:ol0}.public-DraftStyleDefault-depth1.public-DraftStyleDefault-reset{counter-reset:ol1}.public-DraftStyleDefault-depth2.public-DraftStyleDefault-reset{counter-reset:ol2}.public-DraftStyleDefault-depth3.public-DraftStyleDefault-reset{counter-reset:ol3}.public-DraftStyleDefault-depth4.public-DraftStyleDefault-reset{counter-reset:ol4}
/*# sourceMappingURL=main.css.map*/

.demo-wrapper{
    background: white;
    min-height: 280px;
    border: 1px solid lightgray;
    padding: 8px;

}